.tag {
  padding: 0.25rem 0.5rem;
  height: 2.063rem;
  min-width: 7rem;
  border: 0.063rem solid #47b7bc;
  border-radius: 1.25rem;
  background-color: #ffffff;
  text-transform: capitalize;
}

.tag:hover {
  background-color: #f6f39e;
}

.selected {
  background-color: #f6f39e;
}

.tag.selected {
  background-color: #f6f39e;
}
