.tag {
  padding: 0.25rem 0.5rem;
  height: 2.063rem;
  min-width: 7rem;
  border: 0.063rem solid #47b7bc;
  border-radius: 1.25rem;
  background-color: #FFFFFF;
  text-transform: capitalize;
}

.tag:hover{
    background-color: #F6F39E;
}

.selected {
    background-color: #F6F39E;
  }

.tag.selected{
    background-color: #F6F39E;  
}