.hero {
  width: 82.5rem;
  height: 15.125rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;

  &__title-top {
    font-size: 2.25rem;
    position: absolute;
    left: 6rem;
    top: 5rem;
  }
  &__title-bottom {
    font-size: 2.25rem;
    position: absolute;
    left: 6rem;
    top: 8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.56rem;
    position: relative;
  }
}

.tag-bar__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.tag-bar__left,
.tag-bar__right {
  display: flex;
}

.tag-bar__left {
  max-width: 69.5rem;
  gap: 0.625rem;
  white-space: nowrap;
  overflow-x: auto;
  margin-left: 3rem;
  align-items: center;
}
.tag-bar__left::-webkit-scrollbar {
    display: none; 
}
.tag-bar__right {
  gap: 0.625rem;
  min-width: 15rem;
}

.tag-bar__right-button {
  padding: 0.563rem 0.875rem;
  width: 11rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #47b7bc;
  color: #ffffff;
  border: none;
}

.tag-bar__right-button:hover {
  background-color: #84b59d;
}

.selected__tag{
  padding: 0.25rem 0.5rem;
  display: flex;
  min-width: 7rem;
  color: white;
  border-radius: 1.25rem;
  background-color: black;
  text-transform: capitalize;
  justify-content: space-around;
  align-items: center;
  &-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 3rem;
    gap: 0.9rem;
  }
}

.selected__tag-icon{
    width: 20%;
}

.selected__tag p{
    cursor: pointer;
}