
* {
  box-sizing: border-box;
}

.gallery__wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
}

img {
  max-width: 100%;
}

.img__wrapper {
  line-height: 0;
  position: relative;
}

.plus{
  position: relative;
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  visibility: hidden;
}

.img__wrapper:hover .plus {
  visibility: visible;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.imgs {
  object-fit: cover;
}
